/* header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: bisque;


  nav {
    display: flex;
    background-color: bisque;
    justify-content: flex-end;
    justify-content: space-around;
  }

  nav a {
    margin-right: 10px;
  }

} */


#profile {
  border: radius 100%;
}

.btn {
  color: white;
  background-color: yellowgreen;
  border-radius: 5px;
}