header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.column{
  display: flex block;
  flex-direction: column;
  justify-content: center;
} 
#profile {
  border: radius 50,50,50,50;
  background-color: yellow;
}

.btn {
  color: white;
  background-color: yellowgreen;
  border-radius: 5px;
}