header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:xx-large;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: bisque;
  }

  nav {
    display:flex;
    background-color: bisque;
    justify-content: flex-end;
    justify-content: space-around;
  }

  nav a {
    margin-right: 10px;
  }

  .container {
    display: flexbox;
    background-color: #56d6d6;
    
}
  .box {
    display: flex;
    height: auto;
    width: 350px;
    margin: 10px;
    padding: 25px;
    background-color:#56d6d6;
    
    }

    #box {
      display:flex;
      height: auto;
      width: 100px;
      background-color: yellow;      ;
    }

    footer {
      width: 100%;
      padding: 20px;
      text-align: center;
      background: #316697;
      color: #fff;
      margin-top: auto;
    }   